body{
    background-color: #A06D21;
    background-image: url('./bandao.jpg');
    background-position: center;
    background-repeat: no-repeat;
    

}


p{
    color: #FFFFFF;
    font-weight: normal;
}