td,tr,th,table{
    border: solid 1px blueviolet;
    border-collapse: collapse;

}
table{
    width:55%;
    height:220px;
}
th{
    background-color: #CC6600;
    color: #FFFFFF;
}
tr.row1{
    background-color: #FFEDCA;
}
tr.row2{
    background-color: #FFFFFF;
}

img{
    width:40%;
    height:auto;
    margin-right:35px;
}
div{
    display: inline-block;
    width: 250px;
    height: 250px;
}
table{
    height: 100%;
    width: 100%;
}